.right{
  overflow: hidden;
  font-family: var(--notos);
  padding: 20px;
  margin-top: 7px;
  max-width: 380px;
  min-width: 280px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
 h1{
    // outline: 1px solid red;
    width: 100%;
    font-size: 1.4rem;
  }
  p{
    // outline: 1px solid red;
    font-family: var(--noto);
    font-style: italic;
    font-weight: lighter;
    text-align: left;
    margin-top: -4px;
    padding: 0 10px;
  }
}
.right .title{
  font-size: 1.7rem;
  font-weight: lighter;
}
.right .exp{
  // outline: 1px solid red;
  font-family: var(--notos);
  font-stretch: expanded;
  letter-spacing: 4px;
}
.right .forecasting{
  // outline: 1px solid red;
  text-align: left;
  font-size: 1rem;
  font-weight: bold;
  padding: 0 10px;
  letter-spacing: 0.2px;
}
.right .exp1{
  // outline: 1px solid red;
  letter-spacing: 0.8px;
  padding-left: 28px;
  font-family: var(--notos);
  font-weight: lighter;
  color: var(--warn-grey);
  text-align: left;
  list-style-type:lower-greek;
}
.imgContainer{
  width: 260px;
  height: 240px;
  overflow: hidden;
  border-radius: 22px;
  margin: 14px calc(50% - 150px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: var(--off-white);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16);
}
.img{
  width: 140%;
  margin: -18px -50px;
}
@media screen and (min-width: 900px){
  .right{ 
    margin: 0 4px;
    max-width: 100%; }
}