/* Root keys */ 
:root {
	--white: #ffffff;
	--black: #000000;
	--very-light-pink: #c7c7c7;
	--text-input-field: #f7f7f7;
	--hospital-green: #acd9b2;
	--sm: 14px;
	--md: 16px;
	--lg: 18px;
	--bitcoin-orange: #F7931A;
	--bitcoin-orange-arrow: #f3b160;
	--soft-orange: #FFE9D5;
	--secondary-blue: #1a9af7;
	--soft-blue: #e7f5ff;
	--warn-black: #201e1c;
	--grey: #BABABA;
	--warn-grey: #7e7c7c;
	--off-white: #fAf8f7;
	--just-white: #fff;
}
html {
	margin: 0;
	padding: 0;
	font-size: 62.5%;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);/* rgba(0,0,0,0.004) */
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	/* Texts Variables */
	--noto: 'Noto Sans HK', sans-serif;
	--notos: 'Noto Serif', serif;
	--lobster: 'Lobster Two', cursive;
	--roboto: 'Roboto', sans-serif;
}
*{
  scroll-behavior: smooth;
}
body{
	margin: 0;
	padding: 0;
}

@media screen and (min-width: 900px){
	.wrapper{
		display: flex;
		justify-content: space-around;
		padding-top: 10px;
		margin:  20px 40px;
	}
	html{
		font-size: 92.5%;
	}
}